<!-- Validation failure messages
<link rel="stylesheet" type="text/css" href="new_form_style.css">-->

<% if @schedule.errors.any? %>
<% @schedule.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Make a Schedule</h3>
  <span id="helpBlock" class="help-block">1. Select your current year and quarter </span>
  <span id="helpBlock" class="help-block">2. List all courses you have currently taken</span>
  <span id="helpBlock" class="help-block">3. List all courses you plan on taking (in the spot you would like to take them or separately at the bottom)</span>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_schedule" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">


      <div class="form-group form-inline">
       <label for="quarter" class="control-label">
         Quarter
       </label>
        <%= select_tag(:quarter, options_for_select([" ", "Fall","Winter","Spring","Summer"]), :class => "form-control") %>

       <label for="year" class="control-label">
        Year
        </label>
        <%= select_tag(:year, options_for_select([" ", "1","2","3","4"]), :class => "form-control") %>
    </div>

      <!-- Year 1 -->
      <div class="row" style="padding-top: 30px;">
        <!-- Fall -->
        <div class="form-group col-md-4">
          <label for="1f" id="1f">
            <u> Year 1 Fall </u>
          </label>
          <div class="form-inline">
            <label> Class 1: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="1f1d" name="1f1d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="1f1c" name="1f1c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 2: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="1f2d" name="1f2d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="1f2c" name="1f2c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 3: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="1f3d" name="1f3d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="1f3c" name="1f3c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 4: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="1f4d" name="1f4d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="1f4c" name="1f4c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
        </div>

        <!-- Winter -->
        <div class="form-group col-md-4 col-offset-4">
          <label for="1w" class="control-label">
            <u> Year 1 Winter </u>
          </label>
          <div class="form-inline">
            <label> Class 1: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="1w1d" name="1w1d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="1w1c" name="1w1c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 2: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="1w2d" name="1w2d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="1w2c" name="1w2c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 3: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="1w3d" name="1w3d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="1w3c" name="1w3c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 4: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="1w4d" name="1w4d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="1w4c" name="1w4c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
        </div>

        <!-- Spring -->
        <div class="form-group col-md-4 col-offset-8">
          <label for="1s" class="control-label">
            <u> Year 1 Spring </u>
          </label>
          <div class="form-inline">
            <label> Class 1: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="1s1d" name="1s1d" for="inlineFormInput" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="1s1c" name="1s1c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 2: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="1s2d" name="1s2d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="1s2c" name="1s2c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 3: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="1s3d" name="1s3d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="1s3c" name="1s3c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 4: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="1s4d" name="1s4d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="1s4c" name="1s4c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
        </div>
      </div>

      <!-- Year 2 -->
      <div class="row" style="padding-top: 40px;">
        <!-- Fall -->
        <div class="form-group col-md-4">
          <label for="2f" id="2f">
            <u> Year 2 Fall </u>
          </label>
          <div class="form-inline">
            <label> Class 1: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="2f1d" name="2f1d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="2f1c" name="2f1c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 2: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="2f2d" name="2f2d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="2f2c" name="2f2c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 3: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="2f3d" name="2f3d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="2f3c" name="2f3c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 4: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="2f4d" name="2f4d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="2f4c" name="2f4c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
        </div>

        <!-- Winter -->
        <div class="form-group col-md-4 col-offset-4">
          <label for="2w" class="control-label">
            <u> Year 2 Winter </u>
          </label>
          <div class="form-inline">
            <label> Class 1: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="2w1d" name="2w1d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="2w1c" name="2w1c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 2: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="2w2d" name="2w2d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="2w2c" name="2w2c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 3: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="2w3d" name="2w3d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="2w3c" name="2w3c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 4: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="2w4d" name="2w4d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="2w4c" name="2w4c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
        </div>

        <!-- Spring -->
        <div class="form-group col-md-4 col-offset-8">
          <label for="2s" class="control-label">
            <u> Year 2 Spring </u>
          </label>
          <div class="form-inline">
            <label> Class 1: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="2s1d" name="2s1d" for="inlineFormInput" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="2s1c" name="2s1c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 2: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="2s2d" name="2s2d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="2s2c" name="2s2c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 3: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="2s3d" name="2s3d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="2s3c" name="2s3c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 4: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="2s4d" name="2s4d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="2s4c" name="2s4c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
        </div>
      </div>

      <!-- Year 3 -->
      <div class="row" style="padding-top: 30px;">
        <!-- Fall -->
        <div class="form-group col-md-4">
          <label for="3f" id="3f">
            <u> Year 3 Fall </u>
          </label>
          <div class="form-inline">
            <label> Class 1: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="3f1d" name="3f1d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="3f1c" name="3f1c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 2: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="3f2d" name="3f2d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="3f2c" name="3f2c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 3: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="3f3d" name="3f3d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="3f3c" name="3f3c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 4: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="3f4d" name="3f4d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="3f4c" name="3f4c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
        </div>

        <!-- Winter -->
        <div class="form-group col-md-4 col-offset-4">
          <label for="3w" class="control-label">
            <u> Year 3 Winter </u>
          </label>
          <div class="form-inline">
            <label> Class 1: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="3w1d" name="3w1d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="3w1c" name="3w1c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 2: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="3w2d" name="3w2d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="3w2c" name="3w2c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 3: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="1w3d" name="3w3d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="3w3c" name="3w3c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 4: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="3w4d" name="3w4d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="3w4c" name="3w4c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
        </div>

        <!-- Spring -->
        <div class="form-group col-md-4 col-offset-8">
          <label for="3s" class="control-label">
            <u> Year 3 Spring </u>
          </label>
          <div class="form-inline">
            <label> Class 1: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="3s1d" name="3s1d" for="inlineFormInput" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="3s1c" name="3s1c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 2: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="3s2d" name="3s2d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="3s2c" name="3s2c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 3: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="3s3d" name="3s3d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="3s3c" name="3s3c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 4: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="3s4d" name="3s4d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="3s4c" name="3s4c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
        </div>
      </div>

      <!-- Year 4 -->
      <div class="row" style="padding-top: 30px;">
        <!-- Fall -->
        <div class="form-group col-md-4">
          <label for="4f" id="4f">
            <u> Year 4 Fall </u>
          </label>
          <div class="form-inline">
            <label> Class 1: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="4f1d" name="4f1d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="4f1c" name="4f1c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 2: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="4f2d" name="4f2d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="4f2c" name="4f2c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 3: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="4f3d" name="4f3d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="4f3c" name="4f3c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 4: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="4f4d" name="4f4d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="4f4c" name="4f4c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
        </div>

        <!-- Winter -->
        <div class="form-group col-md-4 col-offset-4">
          <label for="4w" class="control-label">
            <u> Year 4 Winter </u>
          </label>
          <div class="form-inline">
            <label> Class 1: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="4w1d" name="4w1d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="4w1c" name="4w1c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 2: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="4w2d" name="4w2d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="4w2c" name="4w2c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 3: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="4w3d" name="4w3d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="4w3c" name="4w3c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 4: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="4w4d" name="4w4d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="4w4c" name="4w4c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
        </div>

        <!-- Spring -->
        <div class="form-group col-md-4 col-offset-8">
          <label for="4s" class="control-label">
            <u> Year 4 Spring </u>
          </label>
          <div class="form-inline">
            <label> Class 1: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="4s1d" name="4s1d" for="inlineFormInput" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="4s1c" name="4s1c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 2: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="4s2d" name="4s2d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="4s2c" name="4s2c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 3: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="4s3d" name="4s3d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="4s3c" name="4s3c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class 4: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="4s4d" name="4s4d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="4s4c" name="4s4c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
        </div>
      </div>

      <!-- Additional Classes  - Add in functionality later
      <div class="row" style="padding-top: 30px; padding-bottom: 20px;">
        <div class="form-group col-md-6">
          <label for="AC" id="AC">
            <u> Additional Classes </u>
          </label>
          <div class="form-inline">
            <label> Class: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="a1d" name="a1d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="a1c" name="a1c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="a2d" name="a2d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="a2c" name="a2c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="a3d" name="a3d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="a3c" name="a3c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
          <div class="form-inline">
            <label> Class: </label>
            <input type="text" style="width: 70px; text-transform: uppercase;" id="a4d" name="a4d" placeholder="Dept" maxlength=4 autocomplete="off" class="form-control" value="<%=  %>">
            <input type="text" style="width: 70px;" id="a4c" name="a4c" placeholder="XXXXX" maxlength=5 autocomplete="off" class="form-control" value="<%=  %>">
          </div>
        </div>-->

        <div class="col-md-10">
          <button class="btn btn-success btn-block">
            Create Schedule
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
