<div class="page-header">
  <h1>
    Course Catalog
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => collapse_search_form, :id => "courses_filters" do |f| %>
    <p class="lead">Filter class search:</p>

    <div class="form-group">
      <%= f.label :name_cont, "Name contains" %>
      <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
    </div>

    <div class="form-group">
      <%= f.label :department_cont, "Department" %>
      <%= f.text_field :department_cont, :class => "form-control", :placeholder => "Department contains" %>
    </div>

    <div class="form-group">
      <%= f.label :dept_code_cont, "Dept code" %>
      <%= f.text_field :dept_code_cont, :class => "form-control", :placeholder => "Dept code contains" %>
    </div>

    <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

    <a href="/courses" class="btn btn-default btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-default btn-block mb-1" data-toggle="collapse" href="#courses_filters">
      Show Filters
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Department</th>
        <th>Dept code</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>

      <% @courses.each do |course| %>
      <tr>

        <td><%= course.department %></td>
        <td><%= course.dept_code %></td>
        <td><%= course.name %></td>
        <td>
          <a href="/courses/<%= course.id %>" class="btn btn-primary">Show</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @courses, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
