<div class="page-header">
  <h3><%= @course.department %> <%= @course.dept_code %>: <%= @course.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @course.name %></dd>

      <dt>Dept code</dt>
      <dd><%= @course.dept_code %></dd>

      <dt>Department</dt>
      <dd><%= @course.department %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/courses" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A Course has many slots -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Add to schedule?
      </li>

      <% @course.slots.each do |slot| %>
        <li class="list-group-item">
          <a href="/slots/<%= slot.id %>">
            <%= slot.schedule_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/slots/<%= slot.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/slots/<%= slot.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_slot/<%= slot.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_slot" method="post">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for schedule_id -->
          <input type="hidden" name="schedule_id" value="<%=  %>">

          <div class="form-group form-inline">
            <label> Class: </label>
            <%= text_field_tag(:course, @course.department, maxlength: 4, size: 2, class: "form-control") %>
            <%= text_field_tag(:course_code, @course.dept_code, maxlength: 5, size: 2, class: "form-control") %>

            <label for="completed">
              Completed
              <input type="checkbox" id="completed" name="completed" value="1" <%= "checked" if @slot.completed %>>
            </label>

            <label for="quarter" class="control-label">
              Quarter
            </label>
            <%= select_tag(:quarter, options_for_select([" ", "Fall","Winter","Spring","Summer"]), :class => "form-control") %>

            <label for="year" class="control-label">
              Year
            </label>
            <%= select_tag(:year, options_for_select([" ", "1","2","3","4"]), :class => "form-control") %>

            <label for="year" class="control-label">
              Grade
            </label>
            <%= select_tag(:grade, options_for_select([" ", "A","A-","B+","B", "B-", "C+", "C", "C-", "D+", "D", "F"]), :class => "form-control") %>
          </div>

          <button class="btn btn-block btn-success">
            Add to schedule
          </button>
    </form>
      </li>
    </ul>
  </div>
</div>
